# Python
*.pyc
*.py[cod]
*$py.class

# For buildout
.installed.cfg
bin/
buildout.cfg
develop-eggs/
downloads/
/eggs/
etc/
parts/
py27/
/upgrade.py
.idea/

# For buildout development
anybox.recipe.odoo/
a.r.odoo/
setuptools-*.zip

# Translations
*.mo

# Project specific

